footer {
    background-image: url("../img/pexels-johannes-plenio-113350521.jpg");
    background-size: cover;
    background-position: bottom;
    color: rgb(270, 270, 275);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.25em;
}

.logo-footer {
    font-size: .85em;
    font-weight: bold;
    text-shadow: .65px .65px 1px rgb(112, 112, 54);
    align-self: self-start;
}

.logo-footer span {
    font-size: 1em;
}